// MIXINS
.box-shadow(@arguments) { 
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}

 
.emotion-inner-element { margin: 0; }

/* Flexslider */
.flexslider { border: none; -webkit-box-shadow: none;-moz-box-shadow: none;-o-box-shadow: none; box-shadow:none;  border-radius: 0px; -o-border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;   }
.flex-direction-nav { line-height: 4em; }
.flexsliderArticle .flex-control-nav { bottom: 5px; }
.flexsliderArticle .slides img { width: auto; }

#content .article-slider-emotion .outer-article-box { width: 100%; height: 100%; }
#content .ajaxSlider .article_box, .modal .ajaxSlider .article_box { width: 90%; padding: 0 5%; height: auto; }


/* Banner Element */
.emotion-element .banner-element .mapping img { width: 100%; height: auto; }
.flex-control-nav { bottom: 20px; z-index: 22; }
.t2re-grid { width: 100%; }

/* Category Teaser */
.emotion-listing .teaser_box .teaser_img { background-size: cover; }

// article rating
#detail #detailinfo #comments .right_container { width: 100%; max-width: 420px; }

@media only screen and (max-width : 640px) {  
  .scanned .emotion-element { width: 100% !important; position: relative !important; float: left !important; left: 0px !important; top: 0px !important;  }
  .scanned .emotion-inner-element { margin-right: 0px; }  
  .t2re-grid.scanned  { width: 100%; }
}

/* SLIDER */
.flexslider {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;

  margin-bottom: 0px;
}


/* Forms */

.input[type=button], input[type=submit] {
  -webkit-appearance:none;
}

// Rating (detail page)
#detail {
  #detailinfo {
    #comments {
      .notice {
        height: auto;
      }
      form {
        padding: 6.36942675159236%;
        width: 87.26114649681529%;
        div {
          width: 100%;
          max-width: 437px;
          div {
            width: 100%;
            max-width: 100%;
          }
          div.captcha {
            div.captcha-placeholder {
              width: 162px;
            }
            div.code {
              max-width: 270px;
              input {
                width: 240px;
              }
              @media(max-width: 570px) {
                input {
                  margin-left: 0px;
                  width: 95%;
                  padding: 5px 2.5%;
                }
                label {
                  padding: 0px;
                  width: 100%;

                }
              }
            }
          }
        }
      }
      fieldset {
        input {
          width: 54.91990846681922%;
        }
        textarea {
          width: 95%;
          padding: 5px 2.5%;
        }
        @media(max-width: 479px) {
          input {
            width: 95%;
            padding: 5px 2.5%;
          }
          .outer-select {
            margin: 5px 0 10px !important;
            width: 100% !important;
            .inner-select {
              width: 95%;
              padding: 5px 2.5%;
            }
          }
        }
      }
    }
  }
  
  #tabs {
    .ui-tabs-panel {
      label {
        width: 41.18993135011442%;
      }
      @media(max-width: 479px) {
        input,label {
          width: 100%;
        }
      }
    }
  }
} 
// Account / Register
body {
  .register {
    form {
      div div {
        //width: 71.81208053691275%;
        width: 85.23489932885906%;
        max-width: 535px;
        margin: 5px 7.38255033557047%;
        div {
          width: auto;
        }
      }
      label {
        margin-left: 0px;
        width: 39.25233644859813%;
        @media(max-width: 479px) {
          width: 100%;
        }
      }
      .salutation {
        label {
          margin-left: 0px;
          width: 39.25233644859813%;
        }
        span {
          label {
            width: auto;
            margin-right: 10px;
          }
        }
        @media(max-width: 479px) {
          label { width: 100%; }
        }
      }
      .check{
        width: 85.23489932885906%;
        max-width: 535px;
        margin: 5px 7.38255033557047%;
        input {
          margin-left: 39.25233644859813%;
        }
        
        label {
          width: auto;
        }
        @media(max-width: 479px) {
          input { margin-left: 0px; }
        }
      }
      .description ,.alt_shipping  {
        width: 85.23489932885906%;
        max-width: 535px;
        margin: 5px 7.38255033557047%;
        span {
          margin-left: 39.25233644859813%;
        }
        label {
          width: auto;
        }
        @media(max-width: 479px) {
          span { margin-left: 0px; }
          label {
            width: 90%;
          }
        }
      }
      
      input[type=text],input[type=password] {
        width: 56.07476635514019%;
        padding: 5px 0.93457943925234%;
        @media(max-width: 479px) {
          width: 98.13084112149532%;
        }
        &.street {
          width: 46.02897196261682%;
        }
        &.number {
          width: 6.54205607476636%;
          margin-left: 0.5607476635514%;
        }
        &.zipcode {
          width: 18.13084112149533%;
        }
        &.city {
          width: 34.57943925233645%;
          margin-left: 0.5607476635514%;
        }
        @media(max-width: 479px) {
          width: 98.13084112149532%;
          padding: 5px 1.73010380622837%;
          &.street {
            width: 76.99877%;
          }
          &.number {
            width: 12.80276816608997%;
            margin-left: 0.5607476635514%;
          }
          &.city {
            width: 71.579439%;
          }
        }
      }
      
      
      .outer-select {
        width: 57.94392523364487% !important;
        .inner-select {
          width: 95%;
          padding: 5px 2.5%;
        }
        select {
          width: 100% !important;
        }
        @media(max-width: 479px) {
          width: 100% !important;
        }
      }
      #birthdate {
        .outer-select {
          width: 67px !important;
          .inner-select {
            width: 90%;
            padding: 5px 5%;
          }
          select {
            width: 100% !important;
          }
        }
      }

    }
  }
  .custom .register {
    form div {
      max-width: 535px;
      div {
        width: 100%;
        padding: 0;
        margin: 0;
      }
    }
  }
}

// Newsletter / Tell a friend
#content .tellafriend div.textarea textarea, #content .tellafriend .captcha, #content .tellafriend label {
  margin-left: 0px;
}
#content .tellafriend #letterForm .required_fields {
  width: 100%;
  margin: 0;
} 
#content .tellafriend #letterForm .button-right {
  @media(max-width: 480px) {
    margin: 0px auto;
    float: none;
    display: block;
  }
}

// Tell a friend form
body {
  .tellafriend {
    form {
      fieldset {
        width: 94.63087248322148%;
        padding: 20px 2.68456375838926%;

        div {
          max-width: 500px;
          label {
            margin-left: 0;
            width: 34%;
          }
          input {
            .box-shadow(inset 0px 0px 0px 1px #BBBBBB);
            border: none;
            width: 64%;
            padding: 5px 1%;
          }
          &.textarea {
            textarea {
              .box-shadow(inset 0px 0px 0px 1px #BBBBBB);
              margin-left: 0;
              width: 98%;
              border: none;
              padding: 5px 1%;
            }
          }
          &.code {
            input {
              width: 100%;
            }
          }
          &.buttons {
            margin: 10px 0 !important;
          }
          @media(max-width: 479px) {
            label {
              width: 100%;
            }
            input {
              width: 98%;
            }
          }
        }
      }
    }
  }
}

// Blog Rating Form

#commentcontainer {
  form.comments {
    padding: 20px 10.58823529411765% 20px 10.58823529411765%;


    p.col, p.textarea {
      width: 100%;
      max-width: 500px;

      label {
        width: 33%;
        padding-right: 1%;
      }
      input {
        .box-shadow(inset 0px 0px 0px 1px #BBBBBB);
        border: none;
        width: 62%;
        padding: 5px 1%;
      }
      textarea {
        width: 96%;
        padding: 5px 1%;
      }
      
      .outer-select {
        width: 63.6% !important;
        .inner-select {
          width: 95%;
          padding: 5px 2.5%;
        }
        select {
          width: 100% !important;
        }
        @media(max-width: 479px) {
          width: 100% !important;
        }
      }
      @media(max-width: 479px) {
        label {
          width: 100%;
          padding: 0;
        }
        input,textarea {
          width: 98%;
          padding: 5px 1%;
        }
        .outer-select {
          width: 99% !important;
        }
      }
    }
    .captcha {
      width: 100%;
      max-width: 500px;
      position: relative;
      .grid_4.first.last:nth-child(2) {
        width: 100%;
      }
      label {
        width: auto;
      }
      input {
        .box-shadow(inset 0px 0px 0px 1px #BBBBBB);
        border: none;
        width: 98%;
        padding: 5px 1%;

      }
      @media(min-width: 480px) {
        .grid_4.first.last:nth-child(2) {
          position: absolute;
          width: auto;
          left: 180px;
          right: 0px;
        }
        input {
          width: 95%;
          padding: 5px 1%;
        }
      }
    }
    .button-right {
      margin-left: 0px;
      margin-top: 10px;
      float: left;
      @media(max-width: 479px) {
        margin-top: 10px;
        width: 100%;
        float: none;
        text-align: center;
      }
    }
    p.desc {
      margin: 0;
      clear:both;
      padding-top: 20px
    }
  }
}

// Contact Forms
#center.supportrequest  {
  .inner_container {
    width: 94.63087248322148%;
    padding: 20px 2.5456375838926%;
  }
  form {
    .support {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      fieldset {
        div {
          label {
            margin-left: 0;
            width: 34%;
          }
          input {
            .box-shadow(inset 0px 0px 0px 1px #BBBBBB);
            border: none;
            width: 64%;
            padding: 5px 1%;
            &.strasse {
              width: 48%;
            }
            &.nr {
              width: 9%;
              margin-left: 4%;
            }
            &.plz {
              width: 16%;
            }
            &.ort {
              width: 41%;
              margin-left: 4%;
            }
          }
          .outer-select {
            width: 65% !important;
            border: none;
            .inner-select {
              width: 95%;
              padding: 5px 2.5%;
            }
            select {
              width: 100% !important;
            }
            @media(max-width: 479px) {
              width: 100% !important;
            }
          }
          &.textarea {
            textarea {
              .box-shadow(inset 0px 0px 0px 1px #BBBBBB);
              margin-left: 0;
              width: 98%;
              border: none;
              padding: 5px 1%;
            }
          }
          &.captcha {
            position: relative;
            img {
              margin-left: 0;
            }
            .code {
              position: absolute;
              top: 0px;
              right: 0px;
              bottom: 0px;
              left: 170px;
              width: auto;
              label {
                margin-top: 0px;
                width: 100%;

              }
              input {
                margin-left: 0px;
              }
            }
          }
          @media(max-width: 479px) {
            label {
              width: 100%;

            }
            input {
              width: 98%;
              &.strasse {
                width: 68%;
              }
              &.nr {
                width: 23%;
                margin-left: 3.9%;
              }
              &.plz {
                width: 26%;
              }
              &.ort {
                width: 65%;
                margin-left: 3.9%;
              }
            }
          }
          
        }
      }
      .requiredfields {
        margin-left: 0px;
      }
      p.buttons {
        input {
          left: auto;
        }
      }
    }

  }
}

// Checkout
body.ctl_checkout {
  .container_20 {
    #content {
      #basket, #confirm, #finished {
        width: 100%;
        .table {
          width: 100%;
          .table_head {
            height: auto;
            padding: 0;
            width: 100%;
            .basketheader-blocka {
              width: 50%;
              float: left;
              .basketHeaderCol {
                width: 100%;
                padding: 0;
                text-align: center;
              }
            }
            .basketheader-blockb {
              width: 50%;
              float: left;

              .basketHeaderCol {
                width: 25%;
                text-align: center;
                float: left;
                &.basketheader-col2 {
                  width: 50%;
                }
              }
            }
            @media(max-width: 719px) {
              .basketheader-blocka { display: none;}
              .basketheader-blockb { width: 100%; }
            }
          }

          .cart-item {
            position: relative;
            min-height: 50px;
            padding: 10px 0;
          
            &:nth-child(2n+1){background-color:#F0F0F0;}
            .basketitemblock-a {
              width: 50%;
              float: left;
            }
            .basketitemblock-b {
              width: 50%;
              float: left;
              text-align: center;
            }
            .item-block {
              float: left;
              min-height: 1px;
              position: relative;

              &.item-block-1 {
                width: 100%;
                .block-1-top {
                  width: 100%;
                  .cartimg-wrap {
                    width: 30%;
                    float: left;
                    min-height: 1px;
                    text-align: center;
                    img {
                      max-width: 100%;
                      max-height: 100px;
                      height: auto;
                      width: auto;
                      margin: 0 auto;
                      display: block;
                    }
                    .voucher_img {
                      position: relative;
                      top: auto; right: auto; bottom: auto; left: auto;
                      display: inline-block;
                    }
                    .premium_img {
                      background: url('../images/backgrounds/premium_img.png') no-repeat 0 0;
                      height: 57px;
                      width: 57px;
                      display: inline-block;
                      color: #fff;
                      font-size: 12px;
                      font-weight: bold;
                      text-align: center;
                      line-height: 57px;
                      margin: 10px;

                    }
                  }
                  .cart-item-title-wrap {
                    width: 70%;
                    float: left;
                  }
                }
                .block-1-bottom {
                  width: 100%;
                }
              }
              &.item-block-2 {
                width: 50%;
                
              }
              &.item-block-3 {
                width: 25%;
              }
              &.item-block-4 {
                width: 25%;
              }
            }
          
            .action {
              position: absolute;
              top: 0px;
              left: 0px;
            }
            @media(max-width: 719px) {
              .basketitemblock-a,.basketitemblock-b {
                width: 100%;
              }
            }
          }
        
          .table_row.non {
            .table_row.shipping {
              width: 45.88235294117646%;
              padding: 30px 2.94117647058824% 10px 2.94117647058824%;

              form {
                float: none;
                .basket_country, .basket_payment, .basket_dispatch {
                  max-width: 378px;
                  width: 100%;
                  .outer-select {
                    margin: 5px 0 10px !important;
                    width: 55% !important;
                    .inner-select {
                      width:100%;
                      padding: 5px 2.5%;
                    }
                  }
                }
              }
            }
          
            .table_foot {
              width: 37.74509803921569%;
              padding: 0 2.94117647058824% 30px 4.90196078431373%;
              #aggregation_left {
                // full: 355px;
                width: 65.67164179104478%;
                margin-left: 0px;
              }
              #aggregation {
                width: 34.32835820895522%;
                margin-right: 0px;
              }
            }
            @media(max-width: 719px) {
              .table_row.shipping {
                width: 94.11764705882352%;
              }
              .table_foot {
                width: 92.15686274509803%;
              }
            }
          }
          .table_foot {
            width: 100%;
            margin: 0;
            .tablefoot_inner {
              max-width: 300px;
              width: 37.74509803921569%;
              padding: 0 2.94117647058824% 30px 4.90196078431373%;
              #aggregation_left {
                // full: 355px;
                width: 65.67164179104478%;
                margin-left: 0px;
              }
              #aggregation {
                width: 34.32835820895522%;
                margin-right: 0px;
              }
              @media(max-width: 719px) { 
                width: 92.15686274509803%;
              }
            }

          }
          
        }
      }
    }
  }
}
// QUICK FIXES
#content #confirm .table .table_head div { margin-right: 0; }
#content #confirm .table .selected_premium .basket_details { position: relative; width: auto; top: auto right: auto; bottom: auto; left: auto; }


// Confirm
body.ctl_checkout {
  .container_20 {
    #content {
      #confirm {
        .grid_16 {
          width: 100%;
        }
        .agb_cancelation {
          height: 210px;
          .inner_container {
            min-height: 150px;
            .confirm_accept {
              left: 2.45098039215686%;
            }
            .agb_info {
              top: 160px;
              left: 2.45098039215686%;
            }
          }
          @media(max-width: 479px) {
            height: 300px;
            .inner_container {
              min-height: 240px;
              .agb_info {
                top: 210px;
              }
            }
          }
        }

        .personal-information {
          .inner_container {
            padding: 10px 2.45098039215686%;

            .invoice-address, .shipping-address, .payment-display {
              width: 29.89690721649485%;
              margin-bottom: 10px;
              margin-right: 5.15463917525773%;
              &.payment-display  {
                margin-right: 0;
              }
              
              @media(max-width: 719px) {
                width: 47.42268041237114%;
                &.shipping-address {
                  margin-right: 0;
                }
                &.payment-display {
                  width: 100%;
                }
              }
              @media(max-width: 479px) {
                width: 100%;
                margin-right: 0px;
              }
            }
          }
        }

        .additional-options {
          .inner_container {
            padding: 10px 2.45098039215686%;
            @media(min-width: 640px) {
              .user-comment {
                position: absolute;
                left: 300px;
                width: auto;
                right: 2.45098039215686%;
                textarea {
                  padding: 5px 1%;
                  width: 96%;
                }
              }
            }
            @media(max-width: 639px) {
              .voucher-add-article {
                width: 75%;
              }
              .user-comment{
                width: 98%;
              }
            }
          }
        }

        .additional_footer {
          width: 100%;
          .agb_accept {
            left: 2.45098039215686%;
            right: 2.45098039215686%;
            label {
              width: 90%;
            }
          }
          .more_info {
            top: 110px;
            left: 2.45098039215686%;
            right: 2.45098039215686%;
            label {
              width: 90%;
            }
          }
          @media(max-width: 479px) {
            .agb_accept { 
              top: 90px;
            }
            .more_info {
              top: 130px;
            }
          }
        }
      }
    }
  }
}

// QUICK FIXES
.ctl_checkout .container_20 .grid_20 {  width: 100% ;}



// Account Orders
body.ctl_account {
  #content {
    .inner {
      #center.orders {
        .orderoverview_active {
          border: none;
          .orderTable {
            width: 100%;
            .orderTableHead {
              width: 100%;
              height: 80px; 
              .orderTableHeadCol {
                float: left;
                line-height: 80px;
                height: 80px;
                text-align: center;
                &.col1 {
                  width: 19.18158567774936%;
                }
                &.col2 {
                  width: 12.78772378516624%;
                }
                &.col3 {
                  width: 19.18158567774936%;
                }
                &.col4 {
                  width: 31.9693094629156%;
                }
                &.col5 {
                  width: 12.78772378516624%;
                }
                @media(max-width: 600px) {
                  &.col1 {
                    width: 30%;
                  }
                  &.col2 {
                    display: none;
                  }
                  &.col3 {
                    display: none;
                  }
                  &.col4 {
                    width: 40%;
                  }
                  &.col5 {
                    width: 30%;
                  }
                }
              }
            }
            .table_row {
              width: 100%;
              height: 70px;
              margin: 10px 0;
              clear:both;
              .orderTableRowCol {
                float: left;
                line-height: 20px;
                height: 40px;
                text-align: center;
                &.col1 {
                  width: 19.18158567774936%;
                }
                &.col2 {
                  width: 12.78772378516624%;
                }
                &.col3 {
                  width: 19.18158567774936%;
                }
                &.col4 {
                  width: 31.9693094629156%;
                }
                &.col5 {
                  width: 16.70588235294118%;
                  .button-middle {
                    padding: 0;
                    width: 94%;
                    margin: 0 auto 0;
                    @media(max-width:540px) {
                      margin-top: 10px;
                    }
                  }
                }
                &.lastrow {
                  border: none;
                }
                @media(max-width: 600px) {
                  &.col1 {
                    width: 30%;
                  }
                  &.col2 {
                    display: none;
                  }
                  &.col3 {
                    display: none;
                  }
                  &.col4 {
                    width: 40%;
                  }
                  &.col5 {
                    width: 30%;
                  }
                }
              }
            }
            .table {
              .box-shadow(inset 0px 0px 2px #000000);
              width: 100%;
              border: none;
              .table_row {
                border: none;
                .grid_8 {
                  width: 36%;
                  margin: 0;
                  padding: 0 2%;
                }
                .grid_2.center, .grid_3.textright, .grid_2.bold.textright {
                  width: 16%;
                  padding: 0 2%;
                  margin: 0;
                }
                @media(max-width: 580px) {
                  .grid_8 {
                    width: 96%;
                    height: 30px;
                  }
                  .grid_2.center, .grid_3.textright, .grid_2.bold.textright {
                    width: 29.3333%;
                  }
                }
              }
              .table_foot {
                border: none;
                position: relative;
                .grid_2.push_4 {
                  position: absolute;
                  display: block;
                  left: auto;
                  right: 2%;
                  top: 10px;
                }
                .grid_3.push_4 {
                  position: absolute;
                  left: auto;
                  right: 22%;
                  display: block;
                  top: 10px;
                }
                @media(max-width: 520px) {
                  height: 200px;
                  .grid_3 {
                    top: 80px;
                  }
                
                }
              }
            }
          }
        }
      }
    }
  }
}

/*
  SLIDER
*/

// ARTICLE SLIDER
.flexsliderArticle {
  .flex-viewport {
    ul.slides {
      li {
        position: relative;
        .articleSliderBox {
          width: 100%;
          .innerSlideBox {
            a.thumbnail {
              background-repeat: no-repeat;
              display: block;
            }
          }
        }
      }
    }
  }
}
@import url('t2recss.css');
