@import url('t2recss.css');
.emotion-inner-element {
  margin: 0;
}
/* Flexslider */
.flexslider {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  -o-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
.flex-direction-nav {
  line-height: 4em;
}
.flexsliderArticle .flex-control-nav {
  bottom: 5px;
}
.flexsliderArticle .slides img {
  width: auto;
}
#content .article-slider-emotion .outer-article-box {
  width: 100%;
  height: 100%;
}
#content .ajaxSlider .article_box,
.modal .ajaxSlider .article_box {
  width: 90%;
  padding: 0 5%;
  height: auto;
}
/* Banner Element */
.emotion-element .banner-element .mapping img {
  width: 100%;
  height: auto;
}
.flex-control-nav {
  bottom: 20px;
  z-index: 22;
}
.t2re-grid {
  width: 100%;
}
/* Category Teaser */
.emotion-listing .teaser_box .teaser_img {
  background-size: cover;
}
#detail #detailinfo #comments .right_container {
  width: 100%;
  max-width: 420px;
}
@media only screen and (max-width: 640px) {
  .scanned .emotion-element {
    width: 100% !important;
    position: relative !important;
    float: left !important;
    left: 0px !important;
    top: 0px !important;
  }
  .scanned .emotion-inner-element {
    margin-right: 0px;
  }
  .t2re-grid.scanned {
    width: 100%;
  }
}
/* SLIDER */
.flexslider {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  margin-bottom: 0px;
}
/* Forms */
.input[type=button],
input[type=submit] {
  -webkit-appearance: none;
}
#detail #detailinfo #comments .notice {
  height: auto;
}
#detail #detailinfo #comments form {
  padding: 6.36942675159236%;
  width: 87.26114649681529%;
}
#detail #detailinfo #comments form div {
  width: 100%;
  max-width: 437px;
}
#detail #detailinfo #comments form div div {
  width: 100%;
  max-width: 100%;
}
#detail #detailinfo #comments form div div.captcha div.captcha-placeholder {
  width: 162px;
}
#detail #detailinfo #comments form div div.captcha div.code {
  max-width: 270px;
}
#detail #detailinfo #comments form div div.captcha div.code input {
  width: 240px;
}
@media (max-width: 570px) {
  #detail #detailinfo #comments form div div.captcha div.code input {
    margin-left: 0px;
    width: 95%;
    padding: 5px 2.5%;
  }
  #detail #detailinfo #comments form div div.captcha div.code label {
    padding: 0px;
    width: 100%;
  }
}
#detail #detailinfo #comments fieldset input {
  width: 54.91990846681922%;
}
#detail #detailinfo #comments fieldset textarea {
  width: 95%;
  padding: 5px 2.5%;
}
@media (max-width: 479px) {
  #detail #detailinfo #comments fieldset input {
    width: 95%;
    padding: 5px 2.5%;
  }
  #detail #detailinfo #comments fieldset .outer-select {
    margin: 5px 0 10px !important;
    width: 100% !important;
  }
  #detail #detailinfo #comments fieldset .outer-select .inner-select {
    width: 95%;
    padding: 5px 2.5%;
  }
}
#detail #tabs .ui-tabs-panel label {
  width: 41.18993135011442%;
}
@media (max-width: 479px) {
  #detail #tabs .ui-tabs-panel input,
  #detail #tabs .ui-tabs-panel label {
    width: 100%;
  }
}
body .register form div div {
  width: 85.23489932885906%;
  max-width: 535px;
  margin: 5px 7.38255033557047%;
}
body .register form div div div {
  width: auto;
}
body .register form label {
  margin-left: 0px;
  width: 39.25233644859813%;
}
@media (max-width: 479px) {
  body .register form label {
    width: 100%;
  }
}
body .register form .salutation label {
  margin-left: 0px;
  width: 39.25233644859813%;
}
body .register form .salutation span label {
  width: auto;
  margin-right: 10px;
}
@media (max-width: 479px) {
  body .register form .salutation label {
    width: 100%;
  }
}
body .register form .check {
  width: 85.23489932885906%;
  max-width: 535px;
  margin: 5px 7.38255033557047%;
}
body .register form .check input {
  margin-left: 39.25233644859813%;
}
body .register form .check label {
  width: auto;
}
@media (max-width: 479px) {
  body .register form .check input {
    margin-left: 0px;
  }
}
body .register form .description,
body .register form .alt_shipping {
  width: 85.23489932885906%;
  max-width: 535px;
  margin: 5px 7.38255033557047%;
}
body .register form .description span,
body .register form .alt_shipping span {
  margin-left: 39.25233644859813%;
}
body .register form .description label,
body .register form .alt_shipping label {
  width: auto;
}
@media (max-width: 479px) {
  body .register form .description span,
  body .register form .alt_shipping span {
    margin-left: 0px;
  }
  body .register form .description label,
  body .register form .alt_shipping label {
    width: 90%;
  }
}
body .register form input[type=text],
body .register form input[type=password] {
  width: 56.07476635514019%;
  padding: 5px 0.93457943925234%;
}
@media (max-width: 479px) {
  body .register form input[type=text],
  body .register form input[type=password] {
    width: 98.13084112149532%;
  }
}
body .register form input[type=text].street,
body .register form input[type=password].street {
  width: 46.02897196261682%;
}
body .register form input[type=text].number,
body .register form input[type=password].number {
  width: 6.54205607476636%;
  margin-left: 0.5607476635514%;
}
body .register form input[type=text].zipcode,
body .register form input[type=password].zipcode {
  width: 18.13084112149533%;
}
body .register form input[type=text].city,
body .register form input[type=password].city {
  width: 34.57943925233645%;
  margin-left: 0.5607476635514%;
}
@media (max-width: 479px) {
  body .register form input[type=text],
  body .register form input[type=password] {
    width: 98.13084112149532%;
    padding: 5px 1.73010380622837%;
  }
  body .register form input[type=text].street,
  body .register form input[type=password].street {
    width: 76.99877%;
  }
  body .register form input[type=text].number,
  body .register form input[type=password].number {
    width: 12.80276816608997%;
    margin-left: 0.5607476635514%;
  }
  body .register form input[type=text].city,
  body .register form input[type=password].city {
    width: 71.579439%;
  }
}
body .register form .outer-select {
  width: 57.94392523364487% !important;
}
body .register form .outer-select .inner-select {
  width: 95%;
  padding: 5px 2.5%;
}
body .register form .outer-select select {
  width: 100% !important;
}
@media (max-width: 479px) {
  body .register form .outer-select {
    width: 100% !important;
  }
}
body .register form #birthdate .outer-select {
  width: 67px !important;
}
body .register form #birthdate .outer-select .inner-select {
  width: 90%;
  padding: 5px 5%;
}
body .register form #birthdate .outer-select select {
  width: 100% !important;
}
body .custom .register form div {
  max-width: 535px;
}
body .custom .register form div div {
  width: 100%;
  padding: 0;
  margin: 0;
}
#content .tellafriend div.textarea textarea,
#content .tellafriend .captcha,
#content .tellafriend label {
  margin-left: 0px;
}
#content .tellafriend #letterForm .required_fields {
  width: 100%;
  margin: 0;
}
@media (max-width: 480px) {
  #content .tellafriend #letterForm .button-right {
    margin: 0px auto;
    float: none;
    display: block;
  }
}
body .tellafriend form fieldset {
  width: 94.63087248322148%;
  padding: 20px 2.68456375838926%;
}
body .tellafriend form fieldset div {
  max-width: 500px;
}
body .tellafriend form fieldset div label {
  margin-left: 0;
  width: 34%;
}
body .tellafriend form fieldset div input {
  -webkit-box-shadow: inset 0px 0px 0px 1px #bbbbbb;
  -moz-box-shadow: inset 0px 0px 0px 1px #bbbbbb;
  box-shadow: inset 0px 0px 0px 1px #bbbbbb;
  border: none;
  width: 64%;
  padding: 5px 1%;
}
body .tellafriend form fieldset div.textarea textarea {
  -webkit-box-shadow: inset 0px 0px 0px 1px #bbbbbb;
  -moz-box-shadow: inset 0px 0px 0px 1px #bbbbbb;
  box-shadow: inset 0px 0px 0px 1px #bbbbbb;
  margin-left: 0;
  width: 98%;
  border: none;
  padding: 5px 1%;
}
body .tellafriend form fieldset div.code input {
  width: 100%;
}
body .tellafriend form fieldset div.buttons {
  margin: 10px 0 !important;
}
@media (max-width: 479px) {
  body .tellafriend form fieldset div label {
    width: 100%;
  }
  body .tellafriend form fieldset div input {
    width: 98%;
  }
}
#commentcontainer form.comments {
  padding: 20px 10.58823529411765% 20px 10.58823529411765%;
}
#commentcontainer form.comments p.col,
#commentcontainer form.comments p.textarea {
  width: 100%;
  max-width: 500px;
}
#commentcontainer form.comments p.col label,
#commentcontainer form.comments p.textarea label {
  width: 33%;
  padding-right: 1%;
}
#commentcontainer form.comments p.col input,
#commentcontainer form.comments p.textarea input {
  -webkit-box-shadow: inset 0px 0px 0px 1px #bbbbbb;
  -moz-box-shadow: inset 0px 0px 0px 1px #bbbbbb;
  box-shadow: inset 0px 0px 0px 1px #bbbbbb;
  border: none;
  width: 62%;
  padding: 5px 1%;
}
#commentcontainer form.comments p.col textarea,
#commentcontainer form.comments p.textarea textarea {
  width: 96%;
  padding: 5px 1%;
}
#commentcontainer form.comments p.col .outer-select,
#commentcontainer form.comments p.textarea .outer-select {
  width: 63.6% !important;
}
#commentcontainer form.comments p.col .outer-select .inner-select,
#commentcontainer form.comments p.textarea .outer-select .inner-select {
  width: 95%;
  padding: 5px 2.5%;
}
#commentcontainer form.comments p.col .outer-select select,
#commentcontainer form.comments p.textarea .outer-select select {
  width: 100% !important;
}
@media (max-width: 479px) {
  #commentcontainer form.comments p.col .outer-select,
  #commentcontainer form.comments p.textarea .outer-select {
    width: 100% !important;
  }
}
@media (max-width: 479px) {
  #commentcontainer form.comments p.col label,
  #commentcontainer form.comments p.textarea label {
    width: 100%;
    padding: 0;
  }
  #commentcontainer form.comments p.col input,
  #commentcontainer form.comments p.textarea input,
  #commentcontainer form.comments p.col textarea,
  #commentcontainer form.comments p.textarea textarea {
    width: 98%;
    padding: 5px 1%;
  }
  #commentcontainer form.comments p.col .outer-select,
  #commentcontainer form.comments p.textarea .outer-select {
    width: 99% !important;
  }
}
#commentcontainer form.comments .captcha {
  width: 100%;
  max-width: 500px;
  position: relative;
}
#commentcontainer form.comments .captcha .grid_4.first.last:nth-child(2) {
  width: 100%;
}
#commentcontainer form.comments .captcha label {
  width: auto;
}
#commentcontainer form.comments .captcha input {
  -webkit-box-shadow: inset 0px 0px 0px 1px #bbbbbb;
  -moz-box-shadow: inset 0px 0px 0px 1px #bbbbbb;
  box-shadow: inset 0px 0px 0px 1px #bbbbbb;
  border: none;
  width: 98%;
  padding: 5px 1%;
}
@media (min-width: 480px) {
  #commentcontainer form.comments .captcha .grid_4.first.last:nth-child(2) {
    position: absolute;
    width: auto;
    left: 180px;
    right: 0px;
  }
  #commentcontainer form.comments .captcha input {
    width: 95%;
    padding: 5px 1%;
  }
}
#commentcontainer form.comments .button-right {
  margin-left: 0px;
  margin-top: 10px;
  float: left;
}
@media (max-width: 479px) {
  #commentcontainer form.comments .button-right {
    margin-top: 10px;
    width: 100%;
    float: none;
    text-align: center;
  }
}
#commentcontainer form.comments p.desc {
  margin: 0;
  clear: both;
  padding-top: 20px;
}
#center.supportrequest .inner_container {
  width: 94.63087248322148%;
  padding: 20px 2.5456375838926%;
}
#center.supportrequest form .support {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
#center.supportrequest form .support fieldset div label {
  margin-left: 0;
  width: 34%;
}
#center.supportrequest form .support fieldset div input {
  -webkit-box-shadow: inset 0px 0px 0px 1px #bbbbbb;
  -moz-box-shadow: inset 0px 0px 0px 1px #bbbbbb;
  box-shadow: inset 0px 0px 0px 1px #bbbbbb;
  border: none;
  width: 64%;
  padding: 5px 1%;
}
#center.supportrequest form .support fieldset div input.strasse {
  width: 48%;
}
#center.supportrequest form .support fieldset div input.nr {
  width: 9%;
  margin-left: 4%;
}
#center.supportrequest form .support fieldset div input.plz {
  width: 16%;
}
#center.supportrequest form .support fieldset div input.ort {
  width: 41%;
  margin-left: 4%;
}
#center.supportrequest form .support fieldset div .outer-select {
  width: 65% !important;
  border: none;
}
#center.supportrequest form .support fieldset div .outer-select .inner-select {
  width: 95%;
  padding: 5px 2.5%;
}
#center.supportrequest form .support fieldset div .outer-select select {
  width: 100% !important;
}
@media (max-width: 479px) {
  #center.supportrequest form .support fieldset div .outer-select {
    width: 100% !important;
  }
}
#center.supportrequest form .support fieldset div.textarea textarea {
  -webkit-box-shadow: inset 0px 0px 0px 1px #bbbbbb;
  -moz-box-shadow: inset 0px 0px 0px 1px #bbbbbb;
  box-shadow: inset 0px 0px 0px 1px #bbbbbb;
  margin-left: 0;
  width: 98%;
  border: none;
  padding: 5px 1%;
}
#center.supportrequest form .support fieldset div.captcha {
  position: relative;
}
#center.supportrequest form .support fieldset div.captcha img {
  margin-left: 0;
}
#center.supportrequest form .support fieldset div.captcha .code {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 170px;
  width: auto;
}
#center.supportrequest form .support fieldset div.captcha .code label {
  margin-top: 0px;
  width: 100%;
}
#center.supportrequest form .support fieldset div.captcha .code input {
  margin-left: 0px;
}
@media (max-width: 479px) {
  #center.supportrequest form .support fieldset div label {
    width: 100%;
  }
  #center.supportrequest form .support fieldset div input {
    width: 98%;
  }
  #center.supportrequest form .support fieldset div input.strasse {
    width: 68%;
  }
  #center.supportrequest form .support fieldset div input.nr {
    width: 23%;
    margin-left: 3.9%;
  }
  #center.supportrequest form .support fieldset div input.plz {
    width: 26%;
  }
  #center.supportrequest form .support fieldset div input.ort {
    width: 65%;
    margin-left: 3.9%;
  }
}
#center.supportrequest form .support .requiredfields {
  margin-left: 0px;
}
#center.supportrequest form .support p.buttons input {
  left: auto;
}
body.ctl_checkout .container_20 #content #basket,
body.ctl_checkout .container_20 #content #confirm,
body.ctl_checkout .container_20 #content #finished {
  width: 100%;
}
body.ctl_checkout .container_20 #content #basket .table,
body.ctl_checkout .container_20 #content #confirm .table,
body.ctl_checkout .container_20 #content #finished .table {
  width: 100%;
}
body.ctl_checkout .container_20 #content #basket .table .table_head,
body.ctl_checkout .container_20 #content #confirm .table .table_head,
body.ctl_checkout .container_20 #content #finished .table .table_head {
  height: auto;
  padding: 0;
  width: 100%;
}
body.ctl_checkout .container_20 #content #basket .table .table_head .basketheader-blocka,
body.ctl_checkout .container_20 #content #confirm .table .table_head .basketheader-blocka,
body.ctl_checkout .container_20 #content #finished .table .table_head .basketheader-blocka {
  width: 50%;
  float: left;
}
body.ctl_checkout .container_20 #content #basket .table .table_head .basketheader-blocka .basketHeaderCol,
body.ctl_checkout .container_20 #content #confirm .table .table_head .basketheader-blocka .basketHeaderCol,
body.ctl_checkout .container_20 #content #finished .table .table_head .basketheader-blocka .basketHeaderCol {
  width: 100%;
  padding: 0;
  text-align: center;
}
body.ctl_checkout .container_20 #content #basket .table .table_head .basketheader-blockb,
body.ctl_checkout .container_20 #content #confirm .table .table_head .basketheader-blockb,
body.ctl_checkout .container_20 #content #finished .table .table_head .basketheader-blockb {
  width: 50%;
  float: left;
}
body.ctl_checkout .container_20 #content #basket .table .table_head .basketheader-blockb .basketHeaderCol,
body.ctl_checkout .container_20 #content #confirm .table .table_head .basketheader-blockb .basketHeaderCol,
body.ctl_checkout .container_20 #content #finished .table .table_head .basketheader-blockb .basketHeaderCol {
  width: 25%;
  text-align: center;
  float: left;
}
body.ctl_checkout .container_20 #content #basket .table .table_head .basketheader-blockb .basketHeaderCol.basketheader-col2,
body.ctl_checkout .container_20 #content #confirm .table .table_head .basketheader-blockb .basketHeaderCol.basketheader-col2,
body.ctl_checkout .container_20 #content #finished .table .table_head .basketheader-blockb .basketHeaderCol.basketheader-col2 {
  width: 50%;
}
@media (max-width: 719px) {
  body.ctl_checkout .container_20 #content #basket .table .table_head .basketheader-blocka,
  body.ctl_checkout .container_20 #content #confirm .table .table_head .basketheader-blocka,
  body.ctl_checkout .container_20 #content #finished .table .table_head .basketheader-blocka {
    display: none;
  }
  body.ctl_checkout .container_20 #content #basket .table .table_head .basketheader-blockb,
  body.ctl_checkout .container_20 #content #confirm .table .table_head .basketheader-blockb,
  body.ctl_checkout .container_20 #content #finished .table .table_head .basketheader-blockb {
    width: 100%;
  }
}
body.ctl_checkout .container_20 #content #basket .table .cart-item,
body.ctl_checkout .container_20 #content #confirm .table .cart-item,
body.ctl_checkout .container_20 #content #finished .table .cart-item {
  position: relative;
  min-height: 50px;
  padding: 10px 0;
}
body.ctl_checkout .container_20 #content #basket .table .cart-item:nth-child(2n+1),
body.ctl_checkout .container_20 #content #confirm .table .cart-item:nth-child(2n+1),
body.ctl_checkout .container_20 #content #finished .table .cart-item:nth-child(2n+1) {
  background-color: #F0F0F0;
}
body.ctl_checkout .container_20 #content #basket .table .cart-item .basketitemblock-a,
body.ctl_checkout .container_20 #content #confirm .table .cart-item .basketitemblock-a,
body.ctl_checkout .container_20 #content #finished .table .cart-item .basketitemblock-a {
  width: 50%;
  float: left;
}
body.ctl_checkout .container_20 #content #basket .table .cart-item .basketitemblock-b,
body.ctl_checkout .container_20 #content #confirm .table .cart-item .basketitemblock-b,
body.ctl_checkout .container_20 #content #finished .table .cart-item .basketitemblock-b {
  width: 50%;
  float: left;
  text-align: center;
}
body.ctl_checkout .container_20 #content #basket .table .cart-item .item-block,
body.ctl_checkout .container_20 #content #confirm .table .cart-item .item-block,
body.ctl_checkout .container_20 #content #finished .table .cart-item .item-block {
  float: left;
  min-height: 1px;
  position: relative;
}
body.ctl_checkout .container_20 #content #basket .table .cart-item .item-block.item-block-1,
body.ctl_checkout .container_20 #content #confirm .table .cart-item .item-block.item-block-1,
body.ctl_checkout .container_20 #content #finished .table .cart-item .item-block.item-block-1 {
  width: 100%;
}
body.ctl_checkout .container_20 #content #basket .table .cart-item .item-block.item-block-1 .block-1-top,
body.ctl_checkout .container_20 #content #confirm .table .cart-item .item-block.item-block-1 .block-1-top,
body.ctl_checkout .container_20 #content #finished .table .cart-item .item-block.item-block-1 .block-1-top {
  width: 100%;
}
body.ctl_checkout .container_20 #content #basket .table .cart-item .item-block.item-block-1 .block-1-top .cartimg-wrap,
body.ctl_checkout .container_20 #content #confirm .table .cart-item .item-block.item-block-1 .block-1-top .cartimg-wrap,
body.ctl_checkout .container_20 #content #finished .table .cart-item .item-block.item-block-1 .block-1-top .cartimg-wrap {
  width: 30%;
  float: left;
  min-height: 1px;
  text-align: center;
}
body.ctl_checkout .container_20 #content #basket .table .cart-item .item-block.item-block-1 .block-1-top .cartimg-wrap img,
body.ctl_checkout .container_20 #content #confirm .table .cart-item .item-block.item-block-1 .block-1-top .cartimg-wrap img,
body.ctl_checkout .container_20 #content #finished .table .cart-item .item-block.item-block-1 .block-1-top .cartimg-wrap img {
  max-width: 100%;
  max-height: 100px;
  height: auto;
  width: auto;
  margin: 0 auto;
  display: block;
}
body.ctl_checkout .container_20 #content #basket .table .cart-item .item-block.item-block-1 .block-1-top .cartimg-wrap .voucher_img,
body.ctl_checkout .container_20 #content #confirm .table .cart-item .item-block.item-block-1 .block-1-top .cartimg-wrap .voucher_img,
body.ctl_checkout .container_20 #content #finished .table .cart-item .item-block.item-block-1 .block-1-top .cartimg-wrap .voucher_img {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  display: inline-block;
}
body.ctl_checkout .container_20 #content #basket .table .cart-item .item-block.item-block-1 .block-1-top .cartimg-wrap .premium_img,
body.ctl_checkout .container_20 #content #confirm .table .cart-item .item-block.item-block-1 .block-1-top .cartimg-wrap .premium_img,
body.ctl_checkout .container_20 #content #finished .table .cart-item .item-block.item-block-1 .block-1-top .cartimg-wrap .premium_img {
  background: url('../images/backgrounds/premium_img.png') no-repeat 0 0;
  height: 57px;
  width: 57px;
  display: inline-block;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 57px;
  margin: 10px;
}
body.ctl_checkout .container_20 #content #basket .table .cart-item .item-block.item-block-1 .block-1-top .cart-item-title-wrap,
body.ctl_checkout .container_20 #content #confirm .table .cart-item .item-block.item-block-1 .block-1-top .cart-item-title-wrap,
body.ctl_checkout .container_20 #content #finished .table .cart-item .item-block.item-block-1 .block-1-top .cart-item-title-wrap {
  width: 70%;
  float: left;
}
body.ctl_checkout .container_20 #content #basket .table .cart-item .item-block.item-block-1 .block-1-bottom,
body.ctl_checkout .container_20 #content #confirm .table .cart-item .item-block.item-block-1 .block-1-bottom,
body.ctl_checkout .container_20 #content #finished .table .cart-item .item-block.item-block-1 .block-1-bottom {
  width: 100%;
}
body.ctl_checkout .container_20 #content #basket .table .cart-item .item-block.item-block-2,
body.ctl_checkout .container_20 #content #confirm .table .cart-item .item-block.item-block-2,
body.ctl_checkout .container_20 #content #finished .table .cart-item .item-block.item-block-2 {
  width: 50%;
}
body.ctl_checkout .container_20 #content #basket .table .cart-item .item-block.item-block-3,
body.ctl_checkout .container_20 #content #confirm .table .cart-item .item-block.item-block-3,
body.ctl_checkout .container_20 #content #finished .table .cart-item .item-block.item-block-3 {
  width: 25%;
}
body.ctl_checkout .container_20 #content #basket .table .cart-item .item-block.item-block-4,
body.ctl_checkout .container_20 #content #confirm .table .cart-item .item-block.item-block-4,
body.ctl_checkout .container_20 #content #finished .table .cart-item .item-block.item-block-4 {
  width: 25%;
}
body.ctl_checkout .container_20 #content #basket .table .cart-item .action,
body.ctl_checkout .container_20 #content #confirm .table .cart-item .action,
body.ctl_checkout .container_20 #content #finished .table .cart-item .action {
  position: absolute;
  top: 0px;
  left: 0px;
}
@media (max-width: 719px) {
  body.ctl_checkout .container_20 #content #basket .table .cart-item .basketitemblock-a,
  body.ctl_checkout .container_20 #content #confirm .table .cart-item .basketitemblock-a,
  body.ctl_checkout .container_20 #content #finished .table .cart-item .basketitemblock-a,
  body.ctl_checkout .container_20 #content #basket .table .cart-item .basketitemblock-b,
  body.ctl_checkout .container_20 #content #confirm .table .cart-item .basketitemblock-b,
  body.ctl_checkout .container_20 #content #finished .table .cart-item .basketitemblock-b {
    width: 100%;
  }
}
body.ctl_checkout .container_20 #content #basket .table .table_row.non .table_row.shipping,
body.ctl_checkout .container_20 #content #confirm .table .table_row.non .table_row.shipping,
body.ctl_checkout .container_20 #content #finished .table .table_row.non .table_row.shipping {
  width: 45.88235294117646%;
  padding: 30px 2.94117647058824% 10px 2.94117647058824%;
}
body.ctl_checkout .container_20 #content #basket .table .table_row.non .table_row.shipping form,
body.ctl_checkout .container_20 #content #confirm .table .table_row.non .table_row.shipping form,
body.ctl_checkout .container_20 #content #finished .table .table_row.non .table_row.shipping form {
  float: none;
}
body.ctl_checkout .container_20 #content #basket .table .table_row.non .table_row.shipping form .basket_country,
body.ctl_checkout .container_20 #content #confirm .table .table_row.non .table_row.shipping form .basket_country,
body.ctl_checkout .container_20 #content #finished .table .table_row.non .table_row.shipping form .basket_country,
body.ctl_checkout .container_20 #content #basket .table .table_row.non .table_row.shipping form .basket_payment,
body.ctl_checkout .container_20 #content #confirm .table .table_row.non .table_row.shipping form .basket_payment,
body.ctl_checkout .container_20 #content #finished .table .table_row.non .table_row.shipping form .basket_payment,
body.ctl_checkout .container_20 #content #basket .table .table_row.non .table_row.shipping form .basket_dispatch,
body.ctl_checkout .container_20 #content #confirm .table .table_row.non .table_row.shipping form .basket_dispatch,
body.ctl_checkout .container_20 #content #finished .table .table_row.non .table_row.shipping form .basket_dispatch {
  max-width: 378px;
  width: 100%;
}
body.ctl_checkout .container_20 #content #basket .table .table_row.non .table_row.shipping form .basket_country .outer-select,
body.ctl_checkout .container_20 #content #confirm .table .table_row.non .table_row.shipping form .basket_country .outer-select,
body.ctl_checkout .container_20 #content #finished .table .table_row.non .table_row.shipping form .basket_country .outer-select,
body.ctl_checkout .container_20 #content #basket .table .table_row.non .table_row.shipping form .basket_payment .outer-select,
body.ctl_checkout .container_20 #content #confirm .table .table_row.non .table_row.shipping form .basket_payment .outer-select,
body.ctl_checkout .container_20 #content #finished .table .table_row.non .table_row.shipping form .basket_payment .outer-select,
body.ctl_checkout .container_20 #content #basket .table .table_row.non .table_row.shipping form .basket_dispatch .outer-select,
body.ctl_checkout .container_20 #content #confirm .table .table_row.non .table_row.shipping form .basket_dispatch .outer-select,
body.ctl_checkout .container_20 #content #finished .table .table_row.non .table_row.shipping form .basket_dispatch .outer-select {
  margin: 5px 0 10px !important;
  width: 55% !important;
}
body.ctl_checkout .container_20 #content #basket .table .table_row.non .table_row.shipping form .basket_country .outer-select .inner-select,
body.ctl_checkout .container_20 #content #confirm .table .table_row.non .table_row.shipping form .basket_country .outer-select .inner-select,
body.ctl_checkout .container_20 #content #finished .table .table_row.non .table_row.shipping form .basket_country .outer-select .inner-select,
body.ctl_checkout .container_20 #content #basket .table .table_row.non .table_row.shipping form .basket_payment .outer-select .inner-select,
body.ctl_checkout .container_20 #content #confirm .table .table_row.non .table_row.shipping form .basket_payment .outer-select .inner-select,
body.ctl_checkout .container_20 #content #finished .table .table_row.non .table_row.shipping form .basket_payment .outer-select .inner-select,
body.ctl_checkout .container_20 #content #basket .table .table_row.non .table_row.shipping form .basket_dispatch .outer-select .inner-select,
body.ctl_checkout .container_20 #content #confirm .table .table_row.non .table_row.shipping form .basket_dispatch .outer-select .inner-select,
body.ctl_checkout .container_20 #content #finished .table .table_row.non .table_row.shipping form .basket_dispatch .outer-select .inner-select {
  width: 100%;
  padding: 5px 2.5%;
}
body.ctl_checkout .container_20 #content #basket .table .table_row.non .table_foot,
body.ctl_checkout .container_20 #content #confirm .table .table_row.non .table_foot,
body.ctl_checkout .container_20 #content #finished .table .table_row.non .table_foot {
  width: 37.74509803921569%;
  padding: 0 2.94117647058824% 30px 4.90196078431373%;
}
body.ctl_checkout .container_20 #content #basket .table .table_row.non .table_foot #aggregation_left,
body.ctl_checkout .container_20 #content #confirm .table .table_row.non .table_foot #aggregation_left,
body.ctl_checkout .container_20 #content #finished .table .table_row.non .table_foot #aggregation_left {
  width: 65.67164179104478%;
  margin-left: 0px;
}
body.ctl_checkout .container_20 #content #basket .table .table_row.non .table_foot #aggregation,
body.ctl_checkout .container_20 #content #confirm .table .table_row.non .table_foot #aggregation,
body.ctl_checkout .container_20 #content #finished .table .table_row.non .table_foot #aggregation {
  width: 34.32835820895522%;
  margin-right: 0px;
}
@media (max-width: 719px) {
  body.ctl_checkout .container_20 #content #basket .table .table_row.non .table_row.shipping,
  body.ctl_checkout .container_20 #content #confirm .table .table_row.non .table_row.shipping,
  body.ctl_checkout .container_20 #content #finished .table .table_row.non .table_row.shipping {
    width: 94.11764705882352%;
  }
  body.ctl_checkout .container_20 #content #basket .table .table_row.non .table_foot,
  body.ctl_checkout .container_20 #content #confirm .table .table_row.non .table_foot,
  body.ctl_checkout .container_20 #content #finished .table .table_row.non .table_foot {
    width: 92.15686274509803%;
  }
}
body.ctl_checkout .container_20 #content #basket .table .table_foot,
body.ctl_checkout .container_20 #content #confirm .table .table_foot,
body.ctl_checkout .container_20 #content #finished .table .table_foot {
  width: 100%;
  margin: 0;
}
body.ctl_checkout .container_20 #content #basket .table .table_foot .tablefoot_inner,
body.ctl_checkout .container_20 #content #confirm .table .table_foot .tablefoot_inner,
body.ctl_checkout .container_20 #content #finished .table .table_foot .tablefoot_inner {
  max-width: 300px;
  width: 37.74509803921569%;
  padding: 0 2.94117647058824% 30px 4.90196078431373%;
}
body.ctl_checkout .container_20 #content #basket .table .table_foot .tablefoot_inner #aggregation_left,
body.ctl_checkout .container_20 #content #confirm .table .table_foot .tablefoot_inner #aggregation_left,
body.ctl_checkout .container_20 #content #finished .table .table_foot .tablefoot_inner #aggregation_left {
  width: 65.67164179104478%;
  margin-left: 0px;
}
body.ctl_checkout .container_20 #content #basket .table .table_foot .tablefoot_inner #aggregation,
body.ctl_checkout .container_20 #content #confirm .table .table_foot .tablefoot_inner #aggregation,
body.ctl_checkout .container_20 #content #finished .table .table_foot .tablefoot_inner #aggregation {
  width: 34.32835820895522%;
  margin-right: 0px;
}
@media (max-width: 719px) {
  body.ctl_checkout .container_20 #content #basket .table .table_foot .tablefoot_inner,
  body.ctl_checkout .container_20 #content #confirm .table .table_foot .tablefoot_inner,
  body.ctl_checkout .container_20 #content #finished .table .table_foot .tablefoot_inner {
    width: 92.15686274509803%;
  }
}
#content #confirm .table .table_head div {
  margin-right: 0;
}
#content #confirm .table .selected_premium .basket_details {
  position: relative;
  width: auto;
  top: auto right: auto;
  bottom: auto;
  left: auto;
}
body.ctl_checkout .container_20 #content #confirm .grid_16 {
  width: 100%;
}
body.ctl_checkout .container_20 #content #confirm .agb_cancelation {
  height: 210px;
}
body.ctl_checkout .container_20 #content #confirm .agb_cancelation .inner_container {
  min-height: 150px;
}
body.ctl_checkout .container_20 #content #confirm .agb_cancelation .inner_container .confirm_accept {
  left: 2.45098039215686%;
}
body.ctl_checkout .container_20 #content #confirm .agb_cancelation .inner_container .agb_info {
  top: 160px;
  left: 2.45098039215686%;
}
@media (max-width: 479px) {
  body.ctl_checkout .container_20 #content #confirm .agb_cancelation {
    height: 300px;
  }
  body.ctl_checkout .container_20 #content #confirm .agb_cancelation .inner_container {
    min-height: 240px;
  }
  body.ctl_checkout .container_20 #content #confirm .agb_cancelation .inner_container .agb_info {
    top: 210px;
  }
}
body.ctl_checkout .container_20 #content #confirm .personal-information .inner_container {
  padding: 10px 2.45098039215686%;
}
body.ctl_checkout .container_20 #content #confirm .personal-information .inner_container .invoice-address,
body.ctl_checkout .container_20 #content #confirm .personal-information .inner_container .shipping-address,
body.ctl_checkout .container_20 #content #confirm .personal-information .inner_container .payment-display {
  width: 29.89690721649485%;
  margin-bottom: 10px;
  margin-right: 5.15463917525773%;
}
body.ctl_checkout .container_20 #content #confirm .personal-information .inner_container .invoice-address.payment-display,
body.ctl_checkout .container_20 #content #confirm .personal-information .inner_container .shipping-address.payment-display,
body.ctl_checkout .container_20 #content #confirm .personal-information .inner_container .payment-display.payment-display {
  margin-right: 0;
}
@media (max-width: 719px) {
  body.ctl_checkout .container_20 #content #confirm .personal-information .inner_container .invoice-address,
  body.ctl_checkout .container_20 #content #confirm .personal-information .inner_container .shipping-address,
  body.ctl_checkout .container_20 #content #confirm .personal-information .inner_container .payment-display {
    width: 47.42268041237114%;
  }
  body.ctl_checkout .container_20 #content #confirm .personal-information .inner_container .invoice-address.shipping-address,
  body.ctl_checkout .container_20 #content #confirm .personal-information .inner_container .shipping-address.shipping-address,
  body.ctl_checkout .container_20 #content #confirm .personal-information .inner_container .payment-display.shipping-address {
    margin-right: 0;
  }
  body.ctl_checkout .container_20 #content #confirm .personal-information .inner_container .invoice-address.payment-display,
  body.ctl_checkout .container_20 #content #confirm .personal-information .inner_container .shipping-address.payment-display,
  body.ctl_checkout .container_20 #content #confirm .personal-information .inner_container .payment-display.payment-display {
    width: 100%;
  }
}
@media (max-width: 479px) {
  body.ctl_checkout .container_20 #content #confirm .personal-information .inner_container .invoice-address,
  body.ctl_checkout .container_20 #content #confirm .personal-information .inner_container .shipping-address,
  body.ctl_checkout .container_20 #content #confirm .personal-information .inner_container .payment-display {
    width: 100%;
    margin-right: 0px;
  }
}
body.ctl_checkout .container_20 #content #confirm .additional-options .inner_container {
  padding: 10px 2.45098039215686%;
}
@media (min-width: 640px) {
  body.ctl_checkout .container_20 #content #confirm .additional-options .inner_container .user-comment {
    position: absolute;
    left: 300px;
    width: auto;
    right: 2.45098039215686%;
  }
  body.ctl_checkout .container_20 #content #confirm .additional-options .inner_container .user-comment textarea {
    padding: 5px 1%;
    width: 96%;
  }
}
@media (max-width: 639px) {
  body.ctl_checkout .container_20 #content #confirm .additional-options .inner_container .voucher-add-article {
    width: 75%;
  }
  body.ctl_checkout .container_20 #content #confirm .additional-options .inner_container .user-comment {
    width: 98%;
  }
}
body.ctl_checkout .container_20 #content #confirm .additional_footer {
  width: 100%;
}
body.ctl_checkout .container_20 #content #confirm .additional_footer .agb_accept {
  left: 2.45098039215686%;
  right: 2.45098039215686%;
}
body.ctl_checkout .container_20 #content #confirm .additional_footer .agb_accept label {
  width: 90%;
}
body.ctl_checkout .container_20 #content #confirm .additional_footer .more_info {
  top: 110px;
  left: 2.45098039215686%;
  right: 2.45098039215686%;
}
body.ctl_checkout .container_20 #content #confirm .additional_footer .more_info label {
  width: 90%;
}
@media (max-width: 479px) {
  body.ctl_checkout .container_20 #content #confirm .additional_footer .agb_accept {
    top: 90px;
  }
  body.ctl_checkout .container_20 #content #confirm .additional_footer .more_info {
    top: 130px;
  }
}
.ctl_checkout .container_20 .grid_20 {
  width: 100% ;
}
body.ctl_account #content .inner #center.orders .orderoverview_active {
  border: none;
}
body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable {
  width: 100%;
}
body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .orderTableHead {
  width: 100%;
  height: 80px;
}
body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .orderTableHead .orderTableHeadCol {
  float: left;
  line-height: 80px;
  height: 80px;
  text-align: center;
}
body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .orderTableHead .orderTableHeadCol.col1 {
  width: 19.18158567774936%;
}
body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .orderTableHead .orderTableHeadCol.col2 {
  width: 12.78772378516624%;
}
body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .orderTableHead .orderTableHeadCol.col3 {
  width: 19.18158567774936%;
}
body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .orderTableHead .orderTableHeadCol.col4 {
  width: 31.9693094629156%;
}
body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .orderTableHead .orderTableHeadCol.col5 {
  width: 12.78772378516624%;
}
@media (max-width: 600px) {
  body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .orderTableHead .orderTableHeadCol.col1 {
    width: 30%;
  }
  body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .orderTableHead .orderTableHeadCol.col2 {
    display: none;
  }
  body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .orderTableHead .orderTableHeadCol.col3 {
    display: none;
  }
  body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .orderTableHead .orderTableHeadCol.col4 {
    width: 40%;
  }
  body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .orderTableHead .orderTableHeadCol.col5 {
    width: 30%;
  }
}
body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table_row {
  width: 100%;
  height: 70px;
  margin: 10px 0;
  clear: both;
}
body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table_row .orderTableRowCol {
  float: left;
  line-height: 20px;
  height: 40px;
  text-align: center;
}
body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table_row .orderTableRowCol.col1 {
  width: 19.18158567774936%;
}
body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table_row .orderTableRowCol.col2 {
  width: 12.78772378516624%;
}
body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table_row .orderTableRowCol.col3 {
  width: 19.18158567774936%;
}
body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table_row .orderTableRowCol.col4 {
  width: 31.9693094629156%;
}
body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table_row .orderTableRowCol.col5 {
  width: 16.70588235294118%;
}
body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table_row .orderTableRowCol.col5 .button-middle {
  padding: 0;
  width: 94%;
  margin: 0 auto 0;
}
@media (max-width: 540px) {
  body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table_row .orderTableRowCol.col5 .button-middle {
    margin-top: 10px;
  }
}
body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table_row .orderTableRowCol.lastrow {
  border: none;
}
@media (max-width: 600px) {
  body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table_row .orderTableRowCol.col1 {
    width: 30%;
  }
  body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table_row .orderTableRowCol.col2 {
    display: none;
  }
  body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table_row .orderTableRowCol.col3 {
    display: none;
  }
  body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table_row .orderTableRowCol.col4 {
    width: 40%;
  }
  body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table_row .orderTableRowCol.col5 {
    width: 30%;
  }
}
body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table {
  -webkit-box-shadow: inset 0px 0px 2px #000000;
  -moz-box-shadow: inset 0px 0px 2px #000000;
  box-shadow: inset 0px 0px 2px #000000;
  width: 100%;
  border: none;
}
body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table .table_row {
  border: none;
}
body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table .table_row .grid_8 {
  width: 36%;
  margin: 0;
  padding: 0 2%;
}
body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table .table_row .grid_2.center,
body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table .table_row .grid_3.textright,
body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table .table_row .grid_2.bold.textright {
  width: 16%;
  padding: 0 2%;
  margin: 0;
}
@media (max-width: 580px) {
  body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table .table_row .grid_8 {
    width: 96%;
    height: 30px;
  }
  body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table .table_row .grid_2.center,
  body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table .table_row .grid_3.textright,
  body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table .table_row .grid_2.bold.textright {
    width: 29.3333%;
  }
}
body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table .table_foot {
  border: none;
  position: relative;
}
body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table .table_foot .grid_2.push_4 {
  position: absolute;
  display: block;
  left: auto;
  right: 2%;
  top: 10px;
}
body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table .table_foot .grid_3.push_4 {
  position: absolute;
  left: auto;
  right: 22%;
  display: block;
  top: 10px;
}
@media (max-width: 520px) {
  body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table .table_foot {
    height: 200px;
  }
  body.ctl_account #content .inner #center.orders .orderoverview_active .orderTable .table .table_foot .grid_3 {
    top: 80px;
  }
}
/*
  SLIDER
*/
.flexsliderArticle .flex-viewport ul.slides li {
  position: relative;
}
.flexsliderArticle .flex-viewport ul.slides li .articleSliderBox {
  width: 100%;
}
.flexsliderArticle .flex-viewport ul.slides li .articleSliderBox .innerSlideBox a.thumbnail {
  background-repeat: no-repeat;
  display: block;
}
