{extends file='frontend/checkout/confirm_item.tpl'}
	{block name='frontend_checkout_cart_item_quantity'}
	<div class="item-block item-block-2">
	<span>{$sBasketItem.quantity}</span>

	</div>
	{/block}