<section>
    <header>
        <h3>abc</h3>
    </header>
    
    <input type="text" data-ng-model="input.text" />
    <input type="text" data-ng-model="input.name" />
    
    <code data-ng-bind="input.text"></code>
    <code>{{input.name}}</code>
</section>