<section>
    <header>
        <h2>Title#1</h2>
    </header>
    
    <article>
        <p>Blub</p>
    </article>
</section>

<section>
    <header>
        <h2>Title#2</h2>
    </header>
    
    <article>
        <p>Blab</p>
    </article>
</section>